[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pyinstaller = "*"
staticx = "*"
patchelf-wrapper = "*"

[packages]
pyqt5 = "*"
python-prctl = "*"
requests = "*"
keyring = "*"
